/* CSS Stylesheet for the COMP249 Jobs Board */
/* Author: Adam Zulic - 45167907*/

html {
    background-color: #343635;
    color: #F4EADE;
    font-family: verdana, sans-serif;
}
body {
	margin: 0;
	padding: 0;
}

img {
	padding: 20px;
	max-width: 250px;
	max-height: 83.4px;
}

h1 {
	font-size: 20pt;
}

nav ul {
	background-color: #2E4874;
	margin: inherit;	
}

nav ul li {
	padding: 20px;
	padding-right: 50px;
	padding-left: 50px;
	display: inline-block;
}

nav ul li a {
	color: inherit;
	text-decoration: inherit;
	font-weight: bold;
}

nav ul li a:hover {
	background-color: #7EABA4;
	padding: 20px;
}

nav ul li a:active {
	color: #2E4874;
}

.leftmost {
	float: right;
}

.useraccess {
	background-color: #7EABA4;
	padding: 20px;
	color: inherit;
	text-decoration: inherit;
	font-weight: bold;
	float: right;
}

.useraccess:hover {
	background-color: #2E4874;
}

section {
	padding: 20px;
}

#searchfunctionality {
	padding: 20px;
	margin: 20px;
	background-color: #347c83;
}

#contentsection {
	background-color: #347c83;
	text-align: left;
	padding: 40px;
	margin: 20px;
}

#joblistings {
	background-color: #347c83;
	margin: 20px;
}

.joblisting {
    background-color: #2E4874;
    text-align: left;
    margin: 20px;
}

.jobtitle {
    font-weight: bold;
    font-size: 18pt;
    text-decoration: inherit;
    color: inherit;
}

.jobtitle:hover {
	text-decoration: underline;
}

.jobtitle:active {
	color: #347c83;
}

.company {
	font-weight: bold;
	font-size: 16pt;
}

.location {
	font-weight: bold;
	font-size: 14pt;
}

footer {
	background-color: #aaaaaa;
	text-align: justify;
	padding: 20px;
	margin: 0;
}

